@tailwind base;
@tailwind components;
@tailwind utilities;


/* Establish the styling standards for the application */
:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  /* Prevent any white background form ever showing */
  background-color: var(--color-light);

  /* Set the color scheme */
  --color-dark: hsl(1 8% 12%);
  --color-light: hsl(1 8% 92%);
  --color-accent-light: hsl(1, 8%, 62%);
  --color-accent-dark: hsl(1, 8%, 32%);

  /* Set the font size scheme */
  font-size: 16px;
}


/* Basic styling structure */
section {
  background-color: var(--color-light);
  min-height: 100vh;
}

aside {
  color: var(--color-light);
}

main {
  color: var(--color-accent-dark);
  background-color: var(--color-light);
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}