@tailwind base;
@tailwind components;
@tailwind utilities;


/* Establish the styling standards for the application */
:root {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  /* Prevent any white background form ever showing */
  background-color: var(--color-light);

  /* Set the color scheme */
  --color-dark: hsl(1 8% 12%);
  --color-light: hsl(1 8% 92%);
  --color-accent-light: hsl(1, 8%, 62%);
  --color-accent-dark: hsl(1, 8%, 32%);

  /* Set the font size scheme */
  font-size: 16px;
}


/* Basic styling structure */
h1 {
  font-size: 2rem;
}

aside {
  color: var(--color-accent-light);
}

main {
  color: var(--color-accent-dark);
}

/* Task Bar styling */
aside.task-bar {
  background-color: var(--color-dark);
  min-height: 100vh;
}

/*  */


/* CSS for Projects */
main {
  background-color: var(--color-light);
  min-height: 100vh;
}


/* CSS if there are no projects */
main.no-task-content {
  display: grid;
  place-content: center;
  text-align: center;
}

div.image-container {
  display: flex;
  justify-content: center;
}

main img {
  max-width: 8rem;
  height: auto;
  margin-bottom: 1rem;
}

main h2 {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

main button {
  margin: 3rem;
  padding: 1rem;
  background-color: var(--color-dark);
  color: var(--color-accent-light);
  border-radius: .5rem;
}
main button:hover {
  box-shadow: .25rem .25rem .25rem var(--color-accent-light);
  color: var(--color-light);
}