/* Task Bar styling */
aside.task-bar {
  margin-top: 2.5rem;
  background-color: var(--color-dark);
  max-height: 100vh;
  border-radius: 0rem 1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

aside h2 {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

aside button.add-project {
  background-color: var(--color-accent-light);
  color: var(--color-dark);
  margin: 3rem;
  padding: 1rem;
  border-radius: .5rem;
}

aside button.add-project:hover {
  color: var(--color-accent-dark);
}

div.projects-list {
  display: flex;
  flex-direction: column;
}

button.project-title-button {
  margin: 1rem;
  border-color: transparent;
  border-width: 0px 0px .1rem 0px;
}

button.project-title-button:hover {
  color: var(--color-accent-light);
}

button.project-title-button:focus {
  border-color: var(--color-accent-light);
}